<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thanks for shopping at Jungle! </h1>
    <p>
      Your order number is: <%= @order.id %>
      <br>
    </p>

    <p>
    Item!!!!!
      <%= @item %>
    <br>
    Product!!!!
      <%= @product %>
    </p>
    <p>Thanks for joining the Vancouver Hipster collective, and have a bitchin cool day you awsome hipster you!</p>
  </body>
</html>